<div id="map-container">
  <agm-map *ngIf="restaurant"
    [latitude]="restaurant.latlng.lat"
    [longitude]="restaurant.latlng.lng"
    [zoom]="zoom"
    [scrollwheel]="false"
    [fullscreenControl]="true"
    [mapTypeControl]="true"
    role="presentation"
    aria-hidden="true">
    <agm-marker 
      [latitude]="restaurant.latlng.lat"
      [longitude]="restaurant.latlng.lng"
      [title]="restaurant.name"
      [iconUrl]="'https://firebasestorage.googleapis.com/v0/b/restaurant-reviewapp.appspot.com/o/icons%2Fmap-marker-icon.png?alt=media&token=12504f24-56f4-431c-adc0-6cedc6b922e6'"
    ></agm-marker>
  </agm-map>
</div>
