#detail-container {
    display: flex;
    flex-wrap:  wrap;
}
@media screen and (min-width: 768px) {
    restaurant-detail {
        order: 1;
        width: 50%;
    }

    review-detail {
        order: 3;
        width: 100%;
    }

    map-detail {
        order: 2;
        width: 50%;
    }

}